<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head', {title: 'home'}) %>
  <%- include('partials/nav', {title: 'home'}) %>
  <body>
    <div class="botones">
    <a href="/ListaFondos">
      <button>Deseas adquirir un nuevo fondo</button>
    </a> 
    <a href="/transacciones">
      <button>Ver transaciones</button>
    </a> 
    <a href="/apertura">
      <button>Quieres cancelar algun fondo</button>
    </a> 
  </div>
  </body>
</html>